@using Fire.UI.Models.AllViewModels
@model AllLayoutViewModel
@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <center>
        <header class="page-header">
            <input type="text" id="txtsearch" placeholder="Müşteri Giriniz" />
        </header>
        <hr />
        <table class="table table-bordered">
            <tr>
                <td>Serial Numara</td>
                <td>Banka</td>
                <td>Tutar</td>
                <td>Ödeme Tarihi</td>
                <td>Kimden Alındı</td>
                <td>Kime Verildi</td>
                <td>Şube</td>
            </tr>
            @foreach (var customer in ViewBag.results)
            {
                <tr class="Search">
                    <td>@customer.checkNumber</td>
                    <td>@Functions.bankname(customer.bankid)</td>
                    <td>@customer.price</td>
                    <td>@customer.checkDate</td>
                    <td>@Functions.FactoryName(customer.whoFromGetted)</td>
                    <td>@Functions.CustomerName(customer.toWhoWasGiven)</td>
                    <td>@Functions.branchname(customer.branchid)</td>
                   
                </tr>
            }
        </table>
    </center>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#txtsearch").keyup(function() {
            var searchtext = $("#txtsearch").val().toLowerCase();
            $(".Search").each(function() {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        })
    })

</script>
